.side_bar
  .side_bar__category
    .side_bar__category__logo
      Rain Sound
    .side_bar__category__count
      6曲
  .side_bar__category
    .side_bar__category__logo
      Rain Sound
    .side_bar__category__count
      6曲