.side_bar
  .side_bar__category
    - @groups.each do |group|
      .side_bar__category__logo
        = group.name
      .side_bar__category__count
        = group.posts.length
        sounds
        