.side_bar
  .side_bar__category 
    - @groups.each do |group|
      .side_bar__category__block
        = link_to group_path(group.id) do
          .side_bar__category__block__logo
            = group.name
        .side_bar__category__block__count
          = group.posts.length
          sounds
  
        

        