.header__bar{
  width: 100%;
  float: left;
  &__center{
    z-index: 4;
    position: absolute;
    display: inline-block;
    top: 120px;
    transform: translateY(-50%);
    text-align: center;
    right: 0;
    left: 0;
    font-weight:  bold;
    letter-spacing: 1px;
    &__title{
      margin-bottom: 10px;
      font-weight:  bold;
      font-family: 'Times New Roman', Times, serif;
      text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
      transition-duration: 0.5s;
      &:hover{
        transform: scale(1.1,1.1); 
        cursor: pointer;
      }
      &--white{
        color: $white;
        font-size: 80px;
        text-decoration: none;
      }
    }
    &__text{
      color: $white;
      font-size: 25px;
      margin-top: 45px;
      font-family: 'HoeflerText-Black', Times, serif;
      font-style: italic;
      letter-spacing: 3px;
      text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    }
  }
  &__nickname{
    display: inline-block;
    position: absolute;
    z-index: 2;
    margin-top: 135px;
    color: $white;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 25px;
    font-weight:  bold;
    letter-spacing: 1px;
    font-family: 'HoeflerText-Black', Times, serif;
    font-style: italic;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
  }
  &__side{
    color: $white;
    font-size: 25px;
    position: absolute;
    z-index: 2;
    left: 0px;
    right: 0px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    &__logout{
      @include linkButton;
      transform: translateY(-50%);
      margin: 60px;
      margin-top: 80px;
      left: 40px;
      transition: all .3s;
      &:hover{
        background-color: $weak-white;
      }
    }
    &__post{
      @include linkButton;
      margin-top: 250px;
      left: 500px;
      transition: all .3s;
      &:hover{
        background-color: $weak-white;
      }
    }
    &__logout{
      @include linkButton;
      transform: translateY(-50%);
      margin: 60px;
      margin-top: 80px;
      left: 40px;
      &:hover{
        background-color: $weak-white;
      }
    }
    &__mypage{
      @include linkButton;
      margin-top: 250px;
      left: 700px;
      transition: all .3s;
      &:hover{
        background-color: $weak-white;
      }
    }
    &__login{
      @include linkButton;
      transform: translateY(-50%);
      margin: 60px;
      margin-top: 80px;
      left: 40px;
      &:hover{
        background-color: $weak-white;
      }
    }
    &__signup{
      @include linkButton;
      transform: translateY(-50%);
      margin: 60px;
      margin-top: 80px;
      left: 160px;
      transition: all .3s;
      &:hover{
        background-color: $weak-white;
      }
    }
  }
}
