.contents__wrapper__post{
  @include postBlock;
  &__image{
    @include postImage;
  }
  &__image:hover{
    transform: scale(1.1,1.1); 
    cursor: pointer;
  }
  &__title{
    color: $black;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 15px;
  }
  &__op{
    color: $black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin: 8px;
    text-decoration: none;
    &:hover{
      color: blue; 
      cursor: pointer;
    }
  }
}
