.side_bar{
  z-index: 1;
  background-color: rgb(21, 21, 70);
  opacity: 0.7;
  height: calc(100vh - 20px);
  width: 250px;
  right: 0;
  position: fixed;
  &__category{
    margin-top: 20px;
    color: $white;
    &__logo{
      text-align: center;
      padding: 20px;
    }
    &__count{
      text-align: center;
      border-bottom: solid;
      border-bottom-color: gray;
      padding-bottom: 30px;
    }
  }
}