.side_bar__wrapper{
  &__icon{
    color: $white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    position: absolute;
    z-index: 4;
    font-size: 50px;
    right: 50px;
    top: 40px;
    cursor :pointer;
  }
}
.side_bar{
  overflow: hidden;
  z-index: 4;
  background-color: $dark-blue;
  height: 0;
  right: 50px;
  top: 100px;
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  border-radius: 30px;
  transition: 0.5s;
  .side_bar__inner{
    width: 100%;
    height: calc(100vh - 20px);
    overflow-y: scroll;
    position: relative;
    &__search{
      text-decoration: none;
      background: 0;
      border-style: solid;
      border-color: $white;
      border-radius: 30px;
      margin-top: 30px;
      margin-left: 30px;
      width: 70%;
      height: 30px;
      padding-left: 35px;
      color: $white;
      &__icon{
        position: absolute;
        top: 35px;
        left: 40px;
        color: $white;
      }
    }
    &__category{
      margin-top: 10px;
      color: $white;
      position: relative;
      &__block{
        border-bottom: solid;
        border-bottom-color: gray;
        padding-top: 15px;
        padding-bottom: 15px;
        transition: all .3s;
        &:hover{
          background-color: rgba(75, 75, 170, 0.7);
        }
        &__logo{
          color: $white;
          text-decoration: none;
          display: inline-block;
          position: absolute;
          right: 0;
          left: 0;
          text-align: center;
        }
        &__count{
          text-align: center;
          padding-top: 30px;
        }
      }
    }
  }
}
