.group_new__wrapper{
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
  .group_new__form{
    text-align: center;
    &__left{
      @include label;
      margin-right: 50px;
      border-collapse: $white;
    }
    .group_new__form__right{
      display: inline-block;
      &__field{
        width: 400px;
        height: 30px;
        position: relative;
        display: inline-block;
        margin-right: 60px;
        @include input;
        color: white;
        &::placeholder{
          color: rgba(245, 245, 245, 0.7);
          font-size: 25px;
          font-family: 'Times New Roman', Times, serif;
        }
      }
    }
    &__submit__button{
      @include label;
      display: inline-block;
      color: $white;
      background: none;
      border-width: 3px;
      left: 140px;
      &:hover{
        background-color: $weak-white;
      }
    }
  }
}