.group_show__wrapper{
  position: absolute;
  background-position: left top;
  background-size: 100% auto;
  width: 100%;
  height: calc(100% - 20px);
  &__post{
    background-color: yellow;
    position: absolute;
    margin-top: 200px;
  }
}