.group_show__wrapper{
  position: absolute;
  background-position: left top;
  background-size: 100% auto;
  width: 100%;
  height: calc(100% - 20px);
  &__post{
    font-size: 25px;
    text-decoration: none;
    color: $white;
    margin-top: 250px;
    position: absolute;
    left: 320px;
    padding: 10px;
    border-style: solid;
    border-collapse: $white;
    border-radius: 10px;
    transition: all .3s;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    font-family: 'Times New Roman', Times, serif;
    &:hover{
      background-color: rgba(245, 245, 245, 0.3);
    }
   }
  .contents__wrapper-show{
    position: absolute;
    top: 350px;
    background-color: rgba(245, 245, 245, 0.4);
    right: 0;
    left: 0;
    display: inline-block;
    text-align: center;
    &__post{
      @include postBlock;
      &__image{
        @include postImage;
        &:hover{
          transform: scale(1.1,1.1); 
          cursor: pointer;
        }
      }
      &__title{
        @include postTitle;
      }
    }
  }
}
