.group_show__wrapper{
  bottom: 20px;
  height: 100%;
  width: 100%;
  .contents__wrapper-block{
    display: inline-block;
    margin-top: 550px;
    padding: 40px;
    &__post{
      @include postBlock;
      &__image{
        @include postImage;
      }
      &__image:hover{
        transform: scale(1.1,1.1); 
        cursor: pointer;
      }
      &__title{
        color: $black;
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
        margin-bottom: 15px;
      }
    }
  }
}

