@import "config/reset";
@import "modules/mixin";
@import "config/colors";
@import "modules/index";
@import "modules/side_bar";
@import "modules/user";
@import "modules/posts_block";
@import "modules/group_new.scss";
@import "modules/group_show.scss";
@import "modules/post_new.scss";
@import "./font-awesome";
@import "modules/main_header";
@import "modules/post_edit.scss";

.footer{
  height: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  border-top-style: solid;
  border-top-color: gray;
  z-index: 5px;
  background: $white;
}